//=========================================
//      VARIABLES
//=========================================

    $betty-bkg-color: #fafafa;
    $betty-border-color: #ccc;

//=========================================
//      IMPORTS
//=========================================

    // @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    // @import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

//=========================================
//      MIXINS
//=========================================
    
    @mixin deborah() {
        background: linear-gradient( to bottom, #5a7ed2, #3f6da9);
    }

    

    


//=========================================
//      GLOBAL STYLES
//=========================================

    *, *:before, *:after { box-sizing: border-box; }

    body {
        display: flex;
        // justify-content: flex-end;
        // font-family: Arial, sans-serif;
        // font-family: 'Source Sans Pro', sans-serif;
        // font-family: 'Cabin', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    

//=========================================
//      MENU MOBILE
//=========================================


  

    
    @media screen and (max-width: 400px) {

        
    }